<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <% if alert = flash[:alert] %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert">
          <%= alert %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <h1 class="fw-bold">Forgot your password?</h1>
      <%= form_with url: passwords_path, class: "row g-3" do |form| %>
        <div class="col-12">
          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "form-control" %>
        </div>
        <div class="col-12">
          <%= form.submit "Email reset instructions", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
